@model Diploma_support_system.Models.ViewModels.IndexViewModel

<br />
<br />
<div class="backgroundWhite container" style="background-color: white; padding: 30px; border-radius: 10px; margin-bottom: 30px;">

  
    @foreach (var promoter in Model.Promoter)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbNailAreaPartial" model="@Model.Student.Where(u => u.Promoter.Name.Equals(promoter.Name))" />
        </div>
    }

</div>