@model IEnumerable<Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<br />
<br />
<div class="border backgroundWhiteBorder">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info"> Diploma item List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> &nbsp; Create New</a>
        </div>
    </div>
    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                <th>
                    Student
                </th>
                <th>
                    Group
                </th>
                <th>
                    Promoter
                </th>
                <th>
                    Diploma name
                </th>
                <th></th>
                <th></th>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                var studentFullName = item.Name + " " + item.Surname;
                                @Html.DisplayFor(m => studentFullName)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Group.GroupNumber)
                        </td>
                        <td>
                            @{
                                var promoterFullName = item.Promoter.Name + " " + item.Promoter.Surname;
                                @Html.DisplayFor(m => promoterFullName)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.DiplomaName)
                        </td>

                        <td>
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </td>
                    </tr>


                }
            </table>
        }
        else
        {
            <p>No menu item exists :p</p>
        }
    </div>
</div>